<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head.ejs %>
</head>
<body id="index">
  <div id="rooms-container">
    <h3>Rooms Currently Singing:</h3>
    <br>
    <% for(var i = 0; i < rooms.length; i++){ %>
      <div class="room-name">
        <a href="/rooms/<%= rooms[i].id %>"><%= rooms[i].name %></a>
        <a href="/rooms/<%= rooms[i].id %>/edit">Edit Room</a>
        <form action="/rooms/<%= rooms[i].id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE"/>
          <button id="delete">b</button>
        </form>
      </div>
    <% } %>
    <br>
    <br>
    <a href="/rooms/new" class="btn">Start a New Room</a>
  </div>
</body>
</html>
