<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head.ejs %>
  </head>
<body id="new">
  <div id="rooms-container">
    <h3>Create A New Room</h3>
    <form action="/rooms/" method="POST">
      <label for="name"><strong>Name Your Room:</strong></label>
      <input type="text" name="name" id="name" placeholder="Room Name">
      <br>
      <button>Create Room</button>
    </form>
    <br>
    <a href="/rooms" class="nav-links">Return to Index</a>
  </div>
</body>
</html>
