<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head.ejs %>
  </head>
<body id="new">
  <header>
    <% include ../views/partials/header.ejs %>
  </header>
  <div class="rooms-container">
    <h3>Create A New Room</h3>
    <form action="/rooms/" method="POST">
      <label id="text" for="name"><strong>Name Your Room:</strong></label>
      <input type="text" name="name" id="name" placeholder="Room Name">
      <br>
      <br>
      <button class="btn" >Create Room</button>
    </form>
    <br>
    <a href="/rooms" class="nav-links">Return to Index</a>
  </div>
  <footer>
    <% include ../views/partials/footer.ejs %>
  </footer>
</body>
</html>
