<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head.ejs %>
  </head>
  <body id="show">
    <div id="room-container">
      <div id="left-column">
        <div class="hidden" id="video-id"><%= room.playlist[0].videoId %></div>
        <div id="player"></div>
        <br>
        <div id="next-button">
          <form action="/rooms/<%= room.id %>/songs/next" method="GET">
            <button class="btn btn-play" id="next-song">Next Song</button>
          </form>
        </div>
        <div id="bitly-link"></div>
      </div>
      <div id="right-column">
        <% if(room.playlist.length > 0) { %>
          <h3>UP NEXT:</h3>
          <hr>
          <% for(var i = 1; i < room.playlist.length; i++){ %>
            <div id="text">
              <strong><%= room.playlist[i].title %></strong><br>
              <img src="<%= room.playlist[i].img %>">
              <br>
              <hr>
              <br>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  <footer>
    <% include ../views/partials/footer.ejs %>
  </footer>
  </body>
</html>
