@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil);
@font-face{
  font-family: 'ostrich-sans';
  src: url('../fonts/OstrichSans-Bold.otf');
}
@font-face{
  font-family: 'icons';
  src: url('../fonts/fontello.ttf');
}
@font-face{
  font-family: 'aquino';
  src: url('../fonts/Aquino-Demo.ttf');
}

*{
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

body{
  background-color: rgb(17, 17, 17);
}

hr{
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

a{
  color: white;
  font-family: Georgia;
}

form{
  margin: 10px 0;
}

/*Containers*/

.rooms-container{
  margin: 30px auto;
  text-align: center;
  width: 40%;
}

#room-container{
  width: 100%;
  margin-top: 20px;
}

.room-name{
  width: 100%;
  height: 60px;
  background-color: rgba(140,139,139,.2);
  border: solid .5px white; 
}

.room-elements{
  display: inline-block;
  width: 31%;
}

#left-column{
  width: 79%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

#right-column{
  width: 19%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  overflow: auto;
}

/*Page Specific Styles*/
h3{
  color: rgb(230, 230, 230);
  font-family: 'ostrich-sans';
  font-size: 60px;
}

#header{
  background-color: rgb(17, 17, 17);
  /*background-color: gray;*/
  padding: 1rem;
  font-size: 2rem;
}

#header a{
  font-family: 'aquino';
  color: white;
  padding: 1rem 0 1rem 1rem;
  text-decoration: none;
}

#index-page{
  position: absolute;
  right: 50px;
  top: 150px;
}

#index, #search, #edit, #new{
  background: url('../images/microphone.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#index a{
  margin-right: 10px;
}

#index form{
  margin-top: 20px;
  /*text-decoration: none;*/
}

#show h3{
  color: rgb(230, 230, 230);
  font-family: 'ostrich-sans';
  font-size: 24px;
  margin-top: 0;
}

#search .rooms-container{
  margin-top: 80px;
}

#search h3{
  font-size: 36px;
}

#search-results{
  color: rgb(154, 154, 154);
}

#search-btn{
  animation: pulse 1s ease infinite;
}

#text{
  color: rgb(154, 154, 154);
  font-family: Arial;
  font-size: 15px;
}

#controls{
  display: inline-block;
  width: 100%;
  height: 100px;
  color: white;
}

#next-button, #bitly-link{
  width: 48%;
  float: left;
}

#bitly-link{
  margin-top: 40px;
  text-align: right;
  font-size: 14px;
}

#bitly{
  font-size: 18px;
}

#delete{
  font-family: 'icons';
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

#queue-btn{
  margin: 10px 0;
}

.hidden{
  display: none;
}

/*Buttons*/

.btn {
  border: none;
  font-family: Arial;
  background: none;
  cursor: pointer;
  padding: 15px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  outline: none;
  border-radius: 50px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  right: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:active {
  border-color: #17954c;
  color: rgb(230, 230, 230);
}

.btn:hover {
  background: #8c8b8b;
}

.btn-small{
  margin: 5px 10px;
  padding: 5px 10px;
  border: 1px solid #fff;
}

/*TV animation*/
/*Credit to Nanny07 - 
http://jsfiddle.net/nanny07/fDTxH/*/

div#topDiv{
    width:100%;
    height:0%;
    opacity:0.9;
    background:black;
    position:absolute;
    top: 0%;
    z-index: 3;
}
div#bottomDiv{
    width:100%;
    height:0%;
    opacity:0.9;
    background:black;
    position:absolute;
    bottom: 0%;
    z-index: 3;
}
div#centerDiv{
    position:absolute;
    height: 1px;
    top: 50%;
    width:100%;
    background: white;
    display:none;
    z-index:4;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 550px){
  *{
    /*background-color: red;*/
  }
  .rooms-container{
    width: 80%;
    margin-top: 30px;
  }

  #search .rooms-container{
    margin-top: 30px;
  }

  #index-page{
    top: 30px;
  }

  #search h3, #index h3, #edit h3, #new h3 {
    font-size: 28px;
    font-family: 'ostrich-sans';
  }

  #search, #edit, #new{
  background: rgb(17, 17, 17);
}

  #header{
    padding: .7px 0 .3rem 0;
  }

  #header a{
    font-size: 14px;
  }

  .btn{
    margin: 8px 10px;
    padding: 8px 10px;
    border: 1px solid #fff;
    font-size: 12px;
  }
}

